.Wrapper {
  width: 100%;
  border: 1px solid #ffc107;
  padding: 30px;
  text-align: justify;
  margin: 0 auto;
  h1 {
    color: #ffc107;
    font-size: 20px;
    font-weight: 500;
  }

  h2 {
    font-size: 14px;
    font-weight: 500;
  }
  .pTitle {
    font-weight: 500;
  }

  .service {
    color: #ffc107;
  }

  .imgCustom {
    width: 100%;
    height: auto;
    margin: 10px 0px;
  }

  .moreInfor {
    background-color: rgba(255, 193, 7, 0.3);
    text-align: center !important;
    padding: 10px 10px;
  }
}
.main-service-imgLeft {
  position: relative;
  width: 100%;
  background-color: #fff5d7;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 200px;
  margin-bottom: 50px;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .main-content {
    font-weight: 450;
    position: absolute;
    top: 10px;
    left: 170px;
    width: 70%;
    p {
      margin-bottom: 5px !important;
      color: black;
    }
  }
  span {
    position: absolute;
    right: 50px;
    bottom: 10px;
    font-weight: 500;
    color: red;
  }
}
.main-service-imgRight {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #fff5d7;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 200px;
  margin-bottom: 50px;
  img {
    position: absolute;
    right: 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .main-content {
    font-weight: 450;
    position: absolute;
    top: 10px;
    left: 100px;
    width: 70%;
    h2 {
      position: absolute;
      right: 20px;
    }
    p {
      margin-left: -30px;
      margin-top: 30px;
      margin-bottom: 5px !important;
      color: black;
    }
  }
  span {
    position: absolute;
    left: 50px;
    bottom: 10px;
    font-weight: 500;
    color: red;
  }
}
@media screen and (max-width: 500px) {
  .main-service-imgRight,
  .main-service-imgLeft {
    img {
      width: 100px;
      height: 100px;
    }
    height: 100px !important;
    .main-content {
      h2 {
        width: 60%;
        transform: translateY(10%);
      }
      p {
        display: none;
      }
    }
  }
  .main-service-imgLeft {
    h2 {
      margin-left: -50px;
    }
    span {
      bottom: 2px;
    }
  }
  .main-service-imgRight {
    h2 {
      right: 120px !important;
    }
    span {
      bottom: 2px;
    }
  }
}
