.intro-member{
    margin:  50px 100px  50px 100px;
    .intro-member__text{
        margin-bottom: 20px;
        
    }
}
.component-block{
    width: 350px;
    height: 450px;
    background: #2B2B2B;
    .block-img{
        width: 350px;
        height: 356px;
    }
    .block-divider{
        border: 3px solid #A25016;
        transform: rotate(-0.54deg);
        width: 120px;
        margin:auto;
        margin-top: 10px;
    }
    .block-name{
        margin-top:5px;
        color: #fff;
        .name-heading{
            font-size: 24px;
            text-align: center;
            margin-bottom: 0px !important;
        }
        .name-des{
            font-size: 16px;
            text-align: center;
            margin-bottom: 0px !important;
        }
    }
}
.intro-member__elements{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 40px;
    margin: 40px 0 40px 0;
}
.intro-about{
    height: 871px;
    width: 100%;
    background: #454343;
    display: flex;
    .about-text{
        margin: 130px 50px 0 50px;
    }
    .about-text-header{
        font-size:36px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 5px !important;
    }
    .about-text-content{
        font-size: 20px;
        color: #FFFFFF;
        word-spacing: 1px;
        text-align: justify;
    }
    .block-divider{
        border: 3px solid #A25016;
        transform: rotate(-0.54deg);
        width: 120px;
        margin-bottom: 30px;
    }
}
.intro-service{
    margin:  80px 100px  80px 100px;

    .block-divider{
        border: 3px solid #A25016;
        transform: rotate(-0.54deg);
        width: 120px;
        margin-bottom: 50px;
        margin-left: 550px;
    }
    .intro-service-element{
        display: grid;
        grid-template-columns: 394px 394px 394px;
        grid-gap: 20px;

    }
}
.service-block{
    width: 394px;
    max-height: 270px;
    background: #454343;
    .service-icon{
        font-size:70px;
        
        color:#fff;
        margin:10px 147px;
    }
    .service-title{
        font-size: 32px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 0 !important;
        font-weight: 500;
    }
    .service-des{
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
        margin: 2px 8px;
    }
}
.intro-more{
    .block-divider{
        border: 3px solid #A25016;
        transform: rotate(-0.54deg);
        width: 120px;
        margin-bottom: 50px;
        margin-left: 650px;
        
    }
    .intro-more-img{
        width: 100%;
        margin-bottom: 50px;
    }
    
}
@media only screen and (max-width: 768px){
    .intro-member__text{
        text-align: center;
    }
    .intro-member__elements{
        display: grid;
        grid-template-columns: 350px 350px;
        grid-gap: 10px;
        margin: 40px 0 40px -80px;
    }
    .intro-about{
        .about-img{
            display: none;
        }   
        .about-text{
            margin: 30px 50px 0 50px;
        }     
    }
    .intro-service{
        .block-divider{
            margin: 50px auto;
        }
        .intro-service-element{
            display: grid;
            grid-template-columns: 350px 350px;
            grid-gap: 10px;
            margin-left: -70px;
            position: relative;
        }
    }
    .service-block:last-child{
        width: 350px;
        margin-left: 180px;
        position: absolute;
        bottom: -280px;

    }
    .service-block{
        width: auto;
    }
    .intro-more{
        margin-top: 320px;
        .block-divider{
            margin: 20px auto;
        }
    }
}