.login,
.Logout {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 700px;
  // height: 720px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #c4c4c4;

  .login--logo,
  .Logout--logo {
    text-align: center;
  }
  .login--form,
  .Logout--form {
    margin-left: 74px;
  }
  .ant-form label {
    font-size: 20px;
  }
  // .ant-row{
  //   display:block;
  // }
  // .ant-col{
  //   display: inline;
  // }
  .ant-input-password,.input--css {
    width: 90%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    font-size: 20px;
    box-shadow: 0 3px 4px #c4c4c4;
  }
  
  .ant-form-item {
    font-size: 20px;
  }
  .ant-btn-primary {
    width: 90%;
    height: 50px;
    background: #f3cf7a;
    border: 1px solid #f3cf7a;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    color: #000;
  }

  .login--text,
  .Logout--text {
    font-size: 20px;
    text-align: center;
  }
  .facebook-google {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .facebook-google--css {
    width: 45%;
    height: 61px;
    font-size: 20px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 3px 4px #c4c4c4;
  }
  .logout-another {
    margin-left: 80px;
  }
}
.login-logout__wrapper {
  margin: 0 auto;
  margin-top: 50px;
  width: 700px;
  height: 70px;
  border: 1px solid #c4c4c4;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-self: space-between;
  background-color: #a25016;
  color: #fff;
  cursor: pointer;
  .login-logout--login,
  .login-logout--logout {
    width: 350px;
    height: 70px;
    border-radius: 0px 10px 0px 0px;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
  }
  .login-logout--login {
    border-radius: 10px 0px 0px 0px;
  }
  .active {
    background-color: #fff;
    color: #000;
  }
}
.to-top {
  position: fixed;
  bottom: 30px;
  right: 100px;
  font-size: 40px;
  color: #ffe2cd;
  background-color: #a25016c1;
  padding: 5px;
  border-radius: 30%;
}
.to-top:hover {
  background-color: #a25016;
}
@media screen and (max-width: 786px) {
  .login-logout__wrapper {
    width: 95%;
    margin-right: 10px;
    margin-left: 10px !important;
    .login-logout--login,
    .login-logout--logout {
      width: 100%;
    }
  }
  .login,
  .Logout {
    width: 95%;
    margin-left: 10px !important;
  }
  .logout-another {
    p {
      margin-left: 35% !important;
    }
  }
}