.product-category-section {
  padding: 0 9rem;

  .section__top {
      padding: 0.3rem 0px;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .section-name {
      font-size: 1.7rem;
      font-weight: 700;
    }
    .page{
      display: flex;
      align-items: center;
      font-weight: bold;
      input{
        border: none;
        outline: none;
        width: 2rem;
        text-align:right;
        font-weight: bold;
      }
      .page-button{
        font-size:1rem;
        color:#333;
        background-color:#ECAA00;
        border:none;
        padding:0rem 1.5rem 0.3rem;
        border-radius: 1rem;
        font-weight:bold;
        cursor:pointer;
      }
      span{
        margin-right: 1rem;
      }
      
    }
    .section-name:after {
      content: "";
      width: 230px;
      height: 6px;
      background-color: #efac01;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }
  .product-category-buttons{
      display: flex;
      flex-direction: column;
      overflow:scroll;
      overflow-y: hidden;
      gap: 1rem;
      .product-category {
        background-color:#FFE6AA;
        color: #333;
        border:none;
        padding:0.3rem 1.5rem 0.5rem;
        border-radius: 1rem;
        font-weight:bold;
        cursor:pointer;
        width: fit-content;
      }
      .product-category:hover,.active{
        background-color:#ECAA00;
        color: rgb(0, 0, 0);
      }
      &::-webkit-scrollbar {
        width: 0px;
      }

  }
}

@media (max-width: 768px) {
  .product-category-section {
    padding: 0 5rem;

  }
}
@media (max-width: 576px) {
  .product-category-section {
    padding: 0 3rem;
    .section__top{
      .page{
        display: none;
      }
    }
    .product-category-buttons{
      flex-direction: row;
      margin-bottom: 1.3rem;
      .product-category {
        padding: 0.3rem 0.5rem 0.5rem;
        min-width: 80px;
      }
    }
    .product-card{
      margin-bottom: 1rem;
    }
  }
}


