.product-card {
  border-radius: 1rem !important;
  display: flex;
  flex-direction: column;
  height: 370px;
  overflow: hidden;

  // .ant-card-cover img{
  // aspect-ratio:1/1;
  // }
  .ant-card-cover {
    overflow: hidden;
  }
  .ant-card-body {
    padding: 0.7rem !important;
    .ant-card-meta-title {
      font-size: 1.2rem !important;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
    }
    .ant-card-meta-description {
      font-size: 0.8rem;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 1;
    }
    .rating-container {
      .ant-rate-star {
        margin-right: 0px;
        .anticon-star {
          svg {
            width: 1rem;
          }
        }
      }
      > span {
        font-size: 12px;
        color: #888;
        margin-left: 0.5rem;
      }
    }
    .price {
      font-size: 1rem;
      font-weight: bold;
      color: #333;
      .original-price {
        text-decoration: line-through;
        color: #999;
        margin-left: 0.5rem;
      }
    }
    .card-additional-info {
      .obtional-variant {
        .field{
            margin-right: 0.5rem;
        }
        .ant-radio-button-wrapper{
            font-size: 0.8rem;
            
        }
      }
      .action {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        padding: 0.5rem 0;
        .ant-btn {
          height: 30px;
          width: 60px;
          border: none;
          border-radius: 0.5rem;
          background-color: #f1af03;
          path {
            fill: #000;
          }
        }
      }
    }
  }
}
