.blog-card-small {
  width: 400px;
  display: flex;
  height: 120px;
  .ant-card-cover {
    width: 40%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .ant-card-body {
    width: 60%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .ant-card-meta-title {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      white-space: unset !important;
      line-height: 1.2rem;
    }
    ::after,
    ::before {
      display: none;
    }
    .blog-card-info__top {
      .blog-card-author {
        font-size: 0.8rem;
        color: #333;
        font-weight: bold;
      }
      .blog-card-date {
        font-size: 0.8rem;
        color: #666;
      }
    }
    .blog-card-footer {
      justify-self: end;
      font-size: 0.8rem;
      text-align: right;
      gap: 0.5rem;

      .anticon {
        svg {
          height: 0.8rem;
        }
        margin-left: 0.1rem;
      }
    }
  }
}
.blog-card-large {
  width: 500px;
  .blog-card-image__container {
    position: relative;
    img {
      width: 100%;
    }
    .blog-card-category {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #efac01;
      color: #333;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 0.65rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .ant-card-body {
    .ant-card-meta-title {
      font-size: 1.3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      white-space: unset !important;
      line-height: 1.5rem;
    }
    .blog-card-info__top {
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      color: #666;
      .blog-card-author {
        color: #333;
        font-weight: bold;
      }
    }
    .blog-card-description {
      font-size: 1rem;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; /* number of lines to show */
      white-space: unset !important;
      display: -webkit-box;
      text-align: justify;
      line-height: 1.1rem;
      max-height: 3.3rem;
    }
  }
  .blog-card-footer {
    font-size: 0.9rem;
    text-align: right;
    gap: 1rem;

    .anticon {
      svg {
        height: 1rem;
      }
      margin-left: 0.1rem;
    }
  }
}
.blog-card-footer {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
  }
  .anticon {
    svg:hover path{
      fill:#51a7f2
    }
  }
}
