.footer-container {
  font-weight: bold;
  width: 100%;
  p {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .footer-content {
    background-color: #f3cf7a;
    padding: 20px 20px;
    #content-3 {
      display: flex;
      align-content: center;
      justify-content: center;
      img {
        margin-right: 10px;
      }
      .content-3_right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
          margin-bottom: 0;
        }
      }
    }

    .footer-left-content {
      .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      > p {
        text-align: center;
      }
    }
    .footer-center-content {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      align-content: flex-start;
      > p {
        font-size: 25px;
      }
      > div > a {
        padding: 10px;
      }
    }

    .footer-right-content {
      > p {
        font-size: 25px;
      }
      > div {
        display: grid;
        margin-bottom: 1rem;
        padding-right: 1rem;
        grid-template-columns: 50px auto;
      }
    }
  }

  #copyright {
    padding: 10px 20px;
    background-color: #a25016;
    color: #ffffff;
  }
}
@media (max-width: 768px){
  .footer-content {
    .ant-col{
      margin-bottom: 1rem;
    }
  }
}