.home--contact {
    display: flex;
    width: 100%;
    height: 738px;

    img {
        width: 100%;
        height: 100%;
        flex: 1;
    }

    input {
        height: 68px;
        width: 514px;
        border-radius: 30px;
        border: 3px solid #c4c4c4;
        font-size: 24px;
        box-shadow: 0 3px 4px #c4c4c4;
    }

    .InputLastChild {
        height: 180px;
        max-height: 180px;
        min-height: 180px;
        width: 514px;
        min-width: 514px;
        max-width: 514px;
        border-radius: 30px;
        border: 3px solid #c4c4c4;
        font-size: 24px;
        box-shadow: 0 3px 4px #c4c4c4;
    }

    input::-webkit-input-placeholder {
        font-size: 24px;
    }

    .form--form {
        margin: 60px auto;
        width: 514px;
    }

    .contact--form {
        height: 738px;
        flex: 1;
        background-color: #FFEDF9;

    }

    .contact--form--header {
        text-align: center;
        margin-top: 30px;
    }

    button {
        background-color: #A25016;
        border: 1px solid #A25016;
        box-shadow: 0 1px 2px #A25016;
        width: 158px;
        height: 58px;
        font-size: 24px;
        border-radius: 30px;
        font-weight: 500;
    }
}