.content {
  background-color: #fff3cc;
  padding: 50px;
  font-size: 17px;
}
.content > p {
  grid-column: 1/4;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
#image1,
#image2,
#image3 {
  left: 50%;
  transform: translate(-50%, 0);
}
#image1 {
  background-color: #ffffff;
  width: 394px;
  border-radius: 15px;
  position: relative;
  z-index: 0;
}

#image1 > svg {
  position: absolute;
  top: 180px;
  left: 27px;
  z-index: 1;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
}
#image1 > p {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 80%;
  text-align: center;
  padding: 10px 0;
}
#title1 {
  color: #e95298;
  font-size: 24px;
  font-weight: bold;
}
#footprint1 {
  position: relative;

  left: 50%;
  transform: translate(-50%, 0);
}

#image2 {
  background-color: #ffffff;
  width: 394px;
  border-radius: 15px;
  position: relative;
  z-index: 0;
}

#image2 > svg {
  position: absolute;
  top: 180px;
  left: 27px;
  z-index: 1;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
}
#image2 > p {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 80%;
  text-align: center;
  padding: 10px 0;
}
#title2 {
  color: #f3cf7a;
  font-size: 24px;
  font-weight: bold;
}
#footprint2 {
  position: relative;

  left: 50%;
  transform: translate(-50%, 0);
}

#image3 {
  background-color: #ffffff;
  width: 394px;
  border-radius: 15px;
  position: relative;
  z-index: 0;
}

#image3 > svg {
  position: absolute;
  top: 180px;
  left: 27px;
  z-index: 1;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
}
#image3 > p {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 80%;
  text-align: center;
  padding: 10px 0;
}
#title3 {
  color: #e95298;
  font-size: 24px;
  font-weight: bold;
}
#footprint3 {
  position: relative;

  left: 50%;
  transform: translate(-50%, 0);
}

@media (max-width: 1259px) {
  .content {
    .ant-col-md-12 {
      display: block;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media (max-width: 868px) {
  .content {
    .ant-col-xs-24 {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
